/Ejercicios semana 3/Ejercicios/nbproject/private/
/Ejercicios semana 3/Ejercicios/build/
/Paul Xavier Sanchez Valverde/Sanchez Valverde Paul Xavier/ExamenPrimerParcial/nbproject/private/
/Paul Xavier Sanchez Valverde/SanchezPaulXavier/ExamenPrimerParcial/nbproject/private/
/Paul Xavier Sanchez Valverde/SanchezPaulXavier/ExamenPrimerParcial/build/
/Semana 4/nbproject/private/
/Semana 4/build/
/Repaso-ciclo-while/nbproject/private/
/Repaso-ciclo-while/build/
/ej-python-while/nbproject/private/
/Semana7/nbproject/private/
/Semana7/build/
/Taller1-PrimerBimestre/nbproject/private/
/Taller1-PrimerBimestre/build/